
.modalContainer{
  border-radius: 20px;
}

.modalTitle {
  font-family: 'JetBrains Mono', sans-serif !important;
  text-align: left;
  width: 100%;
  color: #E3E4E7;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  padding: 0;
  margin:0;
}

.transactionsContainer {

}

.transaction {
  padding: 28px 30px;
  border-bottom: 1px solid rgba(108,108,123, 0.2);
  cursor: pointer;
  color: #E3E4E7;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.16px;
}

.transactionSuccess {
  background: #5CB376;
  color: #0F1011;
}


.transaction:hover {
  color: #E3E4E7;
  background: rgba(0, 0, 0, 0.2);
}

.trnsaction:hover .checkCircleIcon{
  color:#E3E4E799;
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2E3036;
  padding:28px 30px;
}

.transactionInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.capitalise {
  text-transform: capitalize !important;
}

.transactionExpanded {
}

.transaactionHash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.errorText {
  color: #dc3545 !important;
  padding-top: 12px !important;
}

.animClass {
  width: 130px;
  margin: auto;
  padding: 30px 0 20px 0;
}

.dialogScale {
  max-width: 640px;
  margin: auto;
  text-align: center;
}

.successDialog {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px !important;
}

.successTitle {
  padding: 0 40px !important;
  text-align: center !important;
  margin: 20px 0 10px 0 !important;
  font-size: 22px !important;
  font-weight: 700 !important;
}

.successText {
  padding: 0 40px !important;
  text-align: center !important;
  line-height: 1.5rem !important;
  margin-bottom: 40px !important;
  color: rgba(126,153,176,0.8) !important;
}

.viewDetailsText {
  background: none;
  margin: 10px auto 20px auto !important;
  font-size: 14px !important;
}

.viewDetailsText a {
  color: #06D3D7 !important;
}

.viewDetailsText a:hover {
  color: #FFF !important;
}

.newWindowIcon {
  font-size: 15px !important;
  margin-bottom: -2px;
  margin-left: 3px;
}


.transactionIcon{
  width: 20px!important;
  height: 20px!important;
  color: #E3E4E799;
}

.closeIcon{
  width: 20px!important;
  height: 20px!important;
  cursor: pointer;
}
.pauseIcon{
  color: #E3E4E799;
}

.hourglassEmptyIcon{
  color: #E3E4E799;
}

.hourglassFullIcon{
  color: #E3E4E799;
}

.CheckIcon{
  color:#0F1011;
}

.errorIcon{
  color: #E3E4E799;
}

.checkCircleIcon{
  color: #E3E4E799;
}
