input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(128, 128, 128, 0);
  background: url('/calendar.svg') no-repeat;
  background-size: contain;
  opacity: 1;
  display: block;
  border-width: thin;
  position: absolute;
  left: -115px;
  z-index: 9;
}

button {
  text-transform: none !important;
}

:root{
  --diffuse-violet-active : #A89FCA;

  --diffuse-violet-hover : #BBB4D6;

  --diffuse-white-text: #E3E4E7;

  --diffuse-text-grey : #7E818D ;

  --diffuse-black : #0F1011;
  
  --diffuse-light-black:#16171A;

  --diffuse-grey-background: #222328;
}